body{
    margin: 0;
    overflow-x: hidden;
}

/* --------------------------     Macbook Description   --------------------------------- */
.macbook-description{
    text-align: justify;  
    font-weight: 500;  
    color: #363636;
}

/* --------------------------     Macbook Variation Button   --------------------------------- */
.spec-add-button{
    background-color: transparent;
    border: 1px solid rgb(136, 136, 136);
    border-radius: 5px;
    padding: 5px 10px;
    color: #3b3b3b;
    transition: all 0.2s ease;
}
.spec-add-button:hover{
    background-color: #1a1a1a;
    color: #eeeeee;
}

/* --------------------------     Macbook Pricing Calculation    --------------------------------- */
.price-calculation td{
    border-bottom: 1px solid #e2e2e2;
    padding: 8px;
    font-weight: 700;
}
.price-calculation td:first-child{
    padding-right: 40px;
}
.price-calculation td:last-child{
    padding-right: 20px;
}
.dark-top-border{
    border-top: 2px solid #868686;    
}

/* --------------------------     Promo Code    --------------------------------- */
.promo-code p{
    color: #272727;
    font-weight: 600;
}
.promo-code input{
    width: 200px;  
}

/* --------------------------     Total Price    --------------------------------- */
.total-price{
    border-top: 1px solid #d4d4d4;
}